<nav>
  <ul>
    <li><a routerLink="/">Početna</a></li>
    <li><a routerLink="/bend">Bend</a></li>
    <li><a routerLink="/koncerti">Koncerti</a></li>
    <li><a routerLink="/audio">Audio</a></li>
    <li><a routerLink="/video">Video</a></li>
    <li><a routerLink="/slike">Slike</a></li>
    <li><a routerLink="/press-pack">Press Pack</a></li>
    <li><a routerLink="/backline">Backline</a></li>
    <li><a routerLink="/stage-plan">Stage Plan</a></li>
    <li><a routerLink="/kontakt-booking">Kontakt/Booking</a></li>
  </ul>
</nav>