.gif-container {
    background: url('../../../../assets/images/gif/ploca.gif') no-repeat center center;
    width: 430px;
    height: 430px;
    border: 8px solid #000;
    border-radius: 50%;
    -webkit-box-shadow: 0px 14px 57px -5px black;
    -moz-box-shadow: 0px 14px 57px -5px black;
    box-shadow: 0px 14px 57px -5px black;
}

@media screen and (max-width: 500px) {
    .gif-container {
        zoom: 0.5;
    }
}