Slike/instrument/info pojedinog člana

<br>
<br>

<div class="row">
    <div class="col-xs-12 col-sm-6 col-lg-4 col-xl-3" *ngFor="let member of bandMembers">
        <div class="card text-center animated flipInY">
            <img class="card-img-top" src="{{ member.avatar }}" alt="Card image cap">
            <div class="card-body">
            <h5 class="card-title">{{ member.first_name }} {{ member.last_name }}</h5>
            <p class="card-text">{{ member.description }}</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">{{ member.instruments }}</small>
            </div>
        </div>
    </div>
</div>